<!doctype html>
<html lang="en">
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/global.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../../../scripts/global.js"></script>

    <!-- Favicon, change as desired -->
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Publishers</title>
  </head> 
  <body>
  <div class="container">
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('splash')}}">
          Find a Book for Me
          <div class="ml-2 d-inline-block align-top dog-logo"></div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ml-2">
            <li class="nav-item active">
              <a class="nav-link ml-1" href="{{url_for('splash')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('book')}}">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('author')}}">Authors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('publisher')}}">Publishers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('about')}}">About</a>
            </li>
          </ul>
        </div>
      </nav>
            <h2><center><font size = 9> Publishers </font> </center></h2>
 <div class="row mt-5 mb-5">
        <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="http://upload.wikimedia.org/wikipedia/en/thumb/6/6f/Pottermore.png/225px-Pottermore.png">
            <div class="card-body">
              <h5 class="card-title">Pottermore</h5>
              <p class="card-text">
              	Founded: </br>
				Location: </br>
				Parent Company: </br>
              </p>
              <a href="{{url_for('publisher_profile', publishername = 'pottermore')}}" class="btn btn-primary">See more</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="">
            <div class="card-body">
              <h5 class="card-title">Palgrave Macmillan</h5>
              <p class="card-text">
                Founded: 2000 </br>
				Location: London </br>
				Parent Company: Springer Nature </br>
              </p>
              <a href="{{url_for('publisher_profile', publishername = 'palgrave')}}" class="btn btn-primary">See more</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="http://upload.wikimedia.org/wikipedia/en/thumb/d/db/Simon_and_Schuster.svg/200px-Simon_and_Schuster.svg.png">
            <div class="card-body">
              <h5 class="card-title">Simon & Schuster</h5>
              <p class="card-text">
				Founded: 1924 </br>
				Location: 1230 Avenue of the Americas Rockefeller Center, New York City, New York </br>
				Parent Company: CBS Corporation </br>
              </p>
              <a href="{{url_for('publisher_profile', publishername = 's&s')}}" class="btn btn-primary">See more</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    

</html>
  

