<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/global.css">



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="scripts/global.js"></script>

    <style>

    .carousel-inner img {
      width: 30%;
      height: 30%;
  }
  </style>

  <style>
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
</style>


    <!-- Favicon, change as desired -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Find a Book for Me!</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('splash')}}">
          Find a Book for Me
          <div class="ml-2 d-inline-block align-top dog-logo"></div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ml-2">
            <li class="nav-item active">
              <a class="nav-link ml-1" href="{{url_for('splash')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('book')}}">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('author')}}">Authors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('publisher')}}">Publishers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-1" href="{{url_for('about')}}">About</a>
            </li>
          </ul>
        </div>
      </nav>

<div class="jumbotron">
  <div class="container" >
    <h1 class="display-3 font-weight-bold text-danger text-uppercase text-center" > Hello Bookworms!</h1>
<p class="font-italic text-center"> <font size="3">
Looking for a new book to dive in? We have information about all your future books, authors, and publishers!
</font></p>
</div>
</div>
<br />

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://prodimage.images-bn.com/pimages/9780590353403_p0_v1_s550x406.jpg" class="rounded mx-auto d-block" >
    </div>
    <div class="carousel-item">
      <img src="https://upload.wikimedia.org/wikipedia/en/4/44/Mistborn-cover.jpg" class="rounded mx-auto d-block">
    </div>
    <div class="carousel-item">
      <img src="https://upload.wikimedia.org/wikipedia/en/2/25/All_the_President%27s_Men_book_1974.jpg" class="rounded mx-auto d-block">
    </div>
    <div class="carousel-item">
      <img src= "https://cdn180.picsart.com/230754772033212.png?r1024x1024" class="rounded mx-auto d-block">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon text-success>"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon text-success"></span>
  </a>

</div>


<br />


<table class="table table-bordered table-hover">
		<tr>
      <thead class="thead-dark">
		  <th><font size="6"> <a href="{{url_for('book')}}" class="text-info">Books</a> </font><br/></div>

      </th>
		  <th><font size = "6"> <a href="{{url_for('author')}}" class="text-info">Authors</a> </font><br/></th>
		  <th><font size = "6"><a href="{{url_for('publisher')}}" class="text-info">Publishers</a> </font><br/></th>
		</tr>
		<tr>
		  <td><font size = "3"><a href = "/book/harry"> Harry Potter and the Sorcerer's Stone</a></font></td>
		  <td><font size = "3"><a href = "/author/jkr">J.K Rowling</a></font></td>
		  <td><font size = "3"><a href = "/publisher/pottermore">Pottermore</a></font></td>
		</tr>
		<tr>
		  <td><font size = "3"><a href = "/book/mistborn">Mistborn</a></font></td>
		  <td><font size = "3"><a href = "/author/bs">Brandon Sanderson</a></font></td>
		  <td><font size = "3"><a href = "/publisher/palgrave">Palgrave Macmillan</a></font></td>
		</tr>
		<tr>
		  <td><font size = "3"><a href = "/book/presidents">All the President's Men</a></font></td>
		  <td><font size = "3"><a href = "/author/bw">Bob Woodward</a></font></td>
		  <td><font size = "3"><a href = "/publisher/s&s">Simon & Schuster</a></font></td>
		</tr>
	</table></center>
    <hr />
  </body>
